<div class="EditEntry floatContainer" >
    <input type="hidden" name="id" value="##id##" />
    <input type="text" name="title" value="##title##" />
    <input type="text" name="thumbnail" value="##thumbnail_image_src##" />
    <div class="FileUpload" title="上传缩略图" >
        <i class="FileUpload_Picker fi fi-upload"></i>
        <input type="file" class="EditEntry_UploadThumbnail"/>
    </div>
    <input type="text" name="target" value="##target_link##" />
    <i class="EditEntry_Remove fi fi-minus" title="Remove Entry"></i>
</div>