### Common build or config ###
build/
/deploy/

# Idea & Intellij
.settings
.idea
*.iml

# scss
.sass-cache

# Gradle
.gradle

# npm
node_modules/
.module-cache
npm-debug.log

# typings
typings/

# Python
*.pyc
*.pyo

# build script
/pluto-nginx.conf
/pluto-logstash.conf
/metricbeat.yml
/django/djproj-uwsgi.ini
/django/djproj-uwsgi.pid
/root-domain-pages/ts-entry-static/
/root-domain-pages/index.html
/release/
# runtime
/.runtime/
/logs/
.espasswd
