<div id="EditEntries" helperClass="photo/EditEntries" >
    <div id="EditEntries_Title" >编辑项目：
        <input type="checkbox" class="allowImageOverwrite"/>
        <label title="允许上传图片时覆盖同名图片">允许图片覆盖</label>
        <i id="EditEntries_Add" class="fi fi-plus" title="Add Entry"/>
    </div>
    <div id="EditEntries_Head" class="floatContainer">
        <div name="title">标题</div>
        <div name="thumbnail">预览图</div>
        <div class="HoderForUpload"></div>
        <div name="target">链接</div>
    </div>
    <div id="EditEntries_List"></div>
    <button id="EditEntries_OK" class="button save">确定</button>
    <button id="EditEntries_Cancel" class="button delete">取消</button>
</div>